body {
  font-family: -apple-system, BlinkMacSystemFont, 'Impact', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  display:flex
  justify-content: space-between;
  color: #7fff00;
  overflow: hidden;
  text-shadow: -0.1em -0.1em 0 #000, 0.1em -0.1em 0 #000, -0.1em 0.1em 0 #000, 0.1em 0.1em 0 #000;
}


*{
  -webkit-user-select: none;
  -webkit-app-region: drag;
  margin: 0;
  padding: 0;
}
